p.password_title {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.5rem;
}

.error {
  background-color: #522f5d;
  padding: 0.25rem 0.5rem;
  border: none;
  font-size: 0.7rem;
  color: #eed6f5 !important;
  margin-bottom: 1rem;
}

.error :global(.ant-alert-description) {
  color: #eed6f5 !important;
}

.error button {
  margin: auto 0;
}

.error button svg {
  fill: #90729a;
}

.error button svg:hover {
  fill: #eed6f5;
}

.success {
  margin-top: 0.3rem;
  padding: 0.25rem 0.5rem;
  border: none;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.success :global(.ant-alert-description) {
  color: #4caf50 !important; /* Change to green or desired success color */
}

.success button {
  margin: auto 0;
}

.success button svg {
  fill: #388e3c; /* Change to a darker shade of green */
}

.success button svg:hover {
  fill: #76ff03; /* Change to a lighter shade of green on hover */
}
